body{
    margin: 0;
    
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
        margin-right: 10px;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .dropdown-content a:hover {
        background-color: #f1f1f1
    }
    
    .header{
        box-sizing: border-box;
        grid-area: header;
        background-color: aqua;
        min-height: 15vh;
        display: grid;
        grid-template-columns: 1fr 6fr 1fr;
        align-items: center;
        padding: 10px;
    }
    
    .navbar{
        justify-self: right;
    }
    
    .left-side{
        grid-area: left-side;
        background-color: blue;
        min-height: 70vh;
    }
    
    .upper-center{
        grid-area: upper-center;
        background-color: blueviolet;
        min-height: 60vh;
    }
    
    .bottom-center{
        grid-area: bottom-center;
        background-color: brown;
    }
    
    .right-side{
        grid-area: right-side;
        background-color: chartreuse;
    }
    
    .corgi-img{
        border-radius: 20px;
    }
    
    .footer{
        box-sizing: border-box;
        grid-area: footer;
        background-color: darkgoldenrod;
        min-height: 15vh;
        display: grid;
        grid-template-columns: 1fr 5fr;
        align-items: center;
    }
    
    .TitleY{
        justify-self: center;
    }
    
    .footertext{
        justify-self: right;
        text-align: right;
    }
    
    .main-grid{
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-areas: 
            'header         header          header'
            'left-side      upper-center    right-side'
            'left-side      bottom-center   right-side'
            'footer         footer          right-side'
        ;
    }
    
    
    @media (max-width: 1080px) {
        .main-grid{
            grid-template-columns: 30% 70%;
            grid-template-areas:
                    'header         header'
                    'left-side      upper-center'
                    'left-side      bottom-center'
                    'right-side     right-side'
                    'footer         footer'
                ;
    
        }
    
        .corgi-txt{
            grid-area: corgi-txt;
        }
    
        .corgi-img{
            grid-area: corgi-img;
            width: 100%;
        }
    
        .right-side {
            display: grid;
            grid-template-columns: 30% 70%;
            grid-template-areas: 
            'corgi-img      corgi-txt';
        }
    
        .upper-center{
            min-height: auto;
        }
    
        .left-side{
            min-height: auto;
        }
    }
    
    @media (max-width: 720px){
        .main-grid {
            grid-template-columns: 100%;
            grid-template-areas:
                'header'
                'left-side'
                'upper-center'
                'bottom-center'
                'right-side'
                'footer'
            ;
        }
    
        .left-side{
            min-height: auto;
        }
    
        .upper-center{
            min-height: auto;
        }
    
        .TitleX{
            grid-area: TitleX;
            justify-self: center;
        }
    
        .header_text{
            grid-area: header_text;
        }
    
        .navbar{
            grid-area: navbar;
        }
    
        .header{
            grid-template-columns: 7fr 1fr;
            grid-template-areas: 
            'TitleX         TitleX'
            'header_text    navbar';
        }
    
        .right-side{
            grid-template-columns: 100%;
            grid-template-areas:
                    'corgi-img'
                    'corgi-txt';
        }
    
        .corgi-img{
            width: 40%;
            justify-self: center;
        }
    
        .TitleY{
            grid-area: TitleY;
        }
    
        .footertext{
            grid-area: footertext;
        }
    
        .footer{
            display: grid;
            grid-template-columns: 100%;
            grid-template-areas: 
            'footertext'
            'TitleY';
        }
    
    }